body{
  overflow: hidden;
}

.lds-dual-ring {
  display: inline-block;
  width: 100vw;
  height: 100vh;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 10vh;
  height: 10vh;
  /* margin: 8px; */
  border-radius: 50%;
  border: 1vh solid #9E249C;
  border-color: #9E249C transparent #9E249C transparent;
  animation: lds-dual-ring 1.2s linear infinite;
  position: absolute;
top: 43%;
left: 45%;
margin-right: -50%;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
